---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% assign talks_by_date = site.talks | reverse %}
{% assign posters = talks_by_date | where: "type", "Poster" %}
{% assign talks = talks_by_date | where_exp: "item", "item.type != 'Poster'" %}

{% if talks.size > 0 %}
  <h2>Talks</h2>
  {% for post in talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}

{% if posters.size > 0 %}
  <h2>Posters</h2>
  {% for post in posters %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
