---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<h2>Talkmap</h2>
<p>This is my talkmap! It shows all the locations I've given a talk. Onto filling it up!</p>
<iframe src="/talkmap/map.html" height="700" width="1000" style="border:none;"></iframe>
<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

{% endif %}
